In [1]:
import pandas as pd
import os
import time
df = pd.read_excel('NYS.xlsx')
df.head()

,Date,Confirmed,Deaths,New_Cases,New_Deaths,Population_Affected,Average,Ave_per_100k,New_Cases_2wks,NC_2wks_per_100k,County,State
0,12/3/20,6258,152,120,3,0.02048,128,41,1436,470,Albany,New York
1,12/3/20,1095,57,26,1,0.02376,19,42,386,837,Allegany,New York
2,12/3/20,65530,5024,525,0,0.04621,476,33,5674,400,Bronx,New York
3,12/3/20,5657,156,106,3,0.02970,84,44,1037,544,Broome,New York
4,12/3/20,1252,27,53,1,0.01645,35,46,472,620,Cattaraugus,New York

In [61]:
def counties_per_state_to_csv(df , State):

    folder_date = df.iloc[:1,:1].values

    for f in folder_date:
        x = f
        date_name =str(x[0])
        folder_name = State + '_' + date_name

    folder_name

    file_names = []
    names = df['County'].values
    x = 0
    for county in names:
        county_file_name = county + '.xlsx'
        df2 =df.loc[df['County']== county]
        df2.to_excel(county_file_name)
        x=x+1

    return 
counties_per_state_to_csv(df, "New York")

In [57]:
df2

Empty DataFrame
Columns: [Date, Confirmed, Deaths, New_Cases, New_Deaths, Population_Affected, Average, Ave_per_100k, New_Cases_2wks, NC_2wks_per_100k, County, State]
Index: []

In [ ]:


path1 = !pwd
path1[0]
new_path = os.path.join(path1[0], folder_name)
new_path
!mkdir new_path
file_namesnames = df['County'].values

In [12]:

names = df.loc[df['County']== 'Albany']

names

,Date,Confirmed,Deaths,New_Cases,New_Deaths,Population_Affected,Average,Ave_per_100k,New_Cases_2wks,NC_2wks_per_100k,County,State
0,12/3/20,6258,152,120,3,0.02048,128,41,1436,470,Albany,New York

In [13]:
path1 = !pwd
path1[0]
new_path = os.path.join(path1[0], folder_name)
new_path

file_namesnames = df['County'].values

file_names = []
for county in names:
    county_file_name = county + '.xsls'
    df2 =df.loc[df['County']== county]
    df2.to_excel(county_file_name)

/Users/edwardbeck/Covid_Stats/csv_folder

In [44]:
!mkdir new_path
names.to_excel('Names.xlsx')

path1[0]
new_path = os.path.join(path1[0], folder_name)
new_path
!mkdir new_path

mv: rename entire_file_name to county_file_name: No such file or directory

In [49]:
county_file_name = 'Names.xlsx'
entire_file_name = path1[0] + '/'+ county_file_name
entire_file_name
!mv entire_file_name county_file_name

mv: rename entire_file_name to county_file_name: No such file or directory

In [51]:
entire_file_name
new_path
folder

'/Users/edwardbeck/Covid_Stats/csv_folder/New York_12/3/20'